body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #212121;
    color: white;
    font-family: Roboto, serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}
header{
    flex-shrink: 0;
    background: #131313;
    display: flex;
    font-size: x-large;
    padding: 15px;
    margin: 0 0 30px 0;
}
main{
    flex: 1 0 auto;
}
footer{
    flex-shrink: 0;
    text-align: center;
    background: #131313;
    margin: 30px 0 0 0;
}
footer div{
    margin: 10px;
}
th{
    background: #090909;
    height: 50px;
    border: 1px solid white;
    width: 25%;
}
td{
    height: 50px;
    text-align: center;
    background: #151515;
    border: 1px solid white;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding: 5px;
}
#names-sign{
    width: 30%;
}
#variant-sign{
    display: table;
    height: 100%;
    width: 30%;
    text-align: right;
}
#variant-sign > div{
    display: table-cell;
    vertical-align: middle;
}
#lab-sign{
    width: 40%;
    text-align: center;
    color: crimson;
}
#lab-sign span{
    color: greenyellow;
    font-style: italic;
}

canvas{
    margin-left: 4.4%;

}